:root {
  width: 100%;
  height: 100%;
  --primary: #11767b;
  --primary-light: #17969b;
  --gray-bg: #f6f7f9;
  --gray-medium: #d0d4da;
  --text-dark: #334155;
  --text-dark-subtle: #666;
  --surface: #ffffff;
}

body {
  margin: 0 auto;
  background: var(--gray-bg);
  height: 95svh;
  color: var(--text-dark);
}

.app-layout {
  display: flex;
  height: 100svh;
}

.sidebar {
  min-width: 200px;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e5e5;
}

.sidebar-header {
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  flex-shrink: 0;
  color: var(--primary);
}

.main {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--gray-medium);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding: 30px;
}

.main-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff;
}

.drag-overlay-component {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  cursor: grabbing;
}
